/* var.css */
:root {
    --vp-c-brand-1: #542ad7;
    --vp-c-brand-2: #6e4adc;
    --vp-c-brand-3: #8d74dc;
}

.dark {
    --vp-c-brand-1: #4ccade;
    --vp-c-brand-2: #39b6cb;
    --vp-c-brand-3: #30bed5;
}
/* 以前的vp-c-brand已弃用 */

:root {
    /* hero标题渐变色 */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #4c94e1, #6f2ad5);

    /*hero logo背景渐变色 */
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #4c94e1 30%, #6f2ad5 20%, #d780c3 50%);
    --vp-home-hero-image-filter: blur(40px);
}

/* 也可自行单独修改brand按钮 */
/* :root {
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;
} */

.vp-doc a {
    text-decoration: none;
}